body {
    text-align: center;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    font-family: 'Oswald', 'Source Sans 3';
    }

h4 {
    color: white;   
    text-align: center;         
    font-family: 'Source Sans 3';
    font-size: 20px;
    width: 91px;
    height: 16px;
    padding-left: 152px;
    font-weight: 600;
    letter-spacing: 2px;
    padding-top: 45px;
    margin: 0;
    text-transform: uppercase;
}

.header1 {
    color: #FFF;
    font-family: 'Oswald';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-top: 0px;
    padding-top: 20px;
    }

.big-dots {
    animation: colorChange 3s linear infinite;

}

.dot1 {
    width: 30.65px;
    height: 30.41px;
    position: absolute;
    padding-top: 185px;
    padding-left: 883px;

   
   
}

.dot2 {
    width: 31.853px;
    height: 31.571px;
    position: absolute;
    padding-top: 95px;
    padding-left: 1149px;
}

.dot3 {
    width: 31.082px;
    height: 29.977px;
    position: absolute;
    padding-top: 478px;
    padding-left: 982px;
}

.sdot1 {
    width: 14.235px;
    height: 15.422px;
    position: absolute;
    padding-top: 90px;
    padding-left: 871px;
}
.sdot2 {
    width: 13.218px;
    height: 14.32px;
    position: absolute;
    padding-top: 90px;
    padding-left: 994px;
}
.sdot3 {
    width: 10.168px;
    height: 11.016px;
    position: absolute;
     padding-top: 113px;
    padding-left: 993px;
}
.sdot4 {
    width: 14.235px;
    height: 15.422px;
    position: absolute;
     padding-top: 134px;
    padding-left: 770px;
}

.sdot5 {
    width: 13.218px;
    height: 14.32px;
    position: absolute;
     padding-top: 170px;
    padding-left: 1069px;
}

.sdot6 {
    width: 12.201px;
    height: 13.219px;
    position: absolute;
    padding-top: 181px;
    padding-left: 1153px;
}

.sdot7 {
    width: 14.235px;
    height: 15.422px;
    position: absolute;
     padding-top: 251px;
    padding-left: 770px;
}

.sdot8 {
    width: 13.218px;
    height: 14.32px;
    position: absolute;
     padding-top: 232px;
    padding-left: 1043px;
}

.sdot9 {
    width: 13.218px;
    height: 14.32px;
    position: absolute;
     padding-top: 289px;
    padding-left: 1056px;
}

.sdot10 {
    width: 12.201px;
    height: 13.219px;
    position: absolute;
     padding-top: 339px;
    padding-left: 971px;
}

.sdot11 {
    width: 15.252px;
    height: 16.524px;
    position: absolute;
     padding-top: 367px;
    padding-left: 852px;
}

.sdot12 {
    width: 13.218px;
    height: 14.321px;
    position: absolute;
     padding-top: 382px;
    padding-left: 891px;
}

.sdot13 {
    width: 13.218px;
    height: 14.321px;
    position: absolute;
     padding-top: 378px;
    padding-left: 1043px;
}

.sdot14 {
    width: 12.201px;
    height: 13.219px;
    position: absolute;
     padding-top: 581px;
    padding-left: 505px;
}




@keyframes colorChange {
    0% {opacity: 100%;}
   25% { opacity: 75%;}
   50% { opacity: 50%}
   75% {opacity:25%}
   100% { opacity:0%}
}


#firstpage {
    
    width: 1200px;
    height: 800px;
    background-image: url("../file\ and\ assets/background1.png");
    background-size: 1200px 800px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    }

.lorem1 {
    color: rgba(255, 255, 255, 0.70);   
    text-align: center;         
    font-family: 'Source Sans 3';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;  
    margin-top: 42px;
    }

.logcon {
    padding-top: 175px;
}
    
.logo1 {
    width: 63px;
    height: 63px;
    cursor: pointer;
    transform-origin: center center;
    transform: rotateY(0deg) scaleX(1) scaleY(1);
    transition: all ease-in-out 0.75s;
    transition-delay: 0.5s
    }

.logo1:hover{
    transform: rotateY(180deg) scale(1.5)


}


main {
    background: #eee;
    width: 1200px;
    height: 700px;
    flex-shrink: 0;
    /*margin-bottom: -100px;*/
    margin-top: 0px;
}   
.headerp2 {
    color: #464547;
    text-align: center;
    font-family: 'Oswald';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    padding-top: 87px;
    margin-top: 0px;

        }
.subheaderp2 {
        color: #666;
        text-align: center;
        font-family: 'Source Sans 3';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-top: 40px;
        }
        
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 83px; 
   
}

.gridp1  {
    color: #666;
    text-align: center;
    font-family: 'Source Sans 3';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 408px;
    height: 172px;
    margin: 0px;
    text-align: center;
    padding-left: 150px;
    }

    .gridp2  {
        color: #666;
        text-align: center;
        font-family: 'Source Sans 3';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: 416px;
        height: 172px;
        margin: 0px;
        text-align: center;
        padding-right: 143px;
        }
    

.rectangular-button {
    background-color: #55C2D8;
    color: #FFF;
    padding-left: 18px;
    padding-right: 17px;
    padding-top: 5px;   
    padding-bottom: 6px;
    border: none;  
    border-radius: 10px;
    margin-top: 44px;
    cursor: pointer;
    transform-origin: center left;
    transform: skew(0);
    transition: all ease-in-out 0.75s;
    
                    }
.rectangular-button:hover { 
    transform:skewY(12deg)
                      }

.learn-more { 
    width: 1200px;
    height: 666px;
    background-image: linear-gradient(rgba(140, 80, 42, 0.300), rgba(167, 160, 190, 0.685)), url("../file\ and\ assets/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #8C4F2A;  
    background-blend-mode: overlay;
    /*margin-top: -100px;*/ 
    }

.video-header {
    color: #FFF;
    text-align: center;
    font-family: 'Oswald';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    padding-top: 84px;
    margin-top: 0px;
            }
.playbutton {     
        width: 150px;
        height: 150px;
        background-color: #55C2D8;
        color: white;
        font-size: 60px;
        border-radius: 50%;
        justify-content: center;
        border: none;
        padding-top: 53px;
    
        transform: scale(1);
        transition: ease-in 0.5s;
            }

    .playbutton:hover {
        color: #55C2D8;
        background-color: white;
        transform: scale(0.9);    }

.last-p {
        color: #FFF;
        text-align: center;
        font-family: 'Source Sans 3';
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        padding-top: 70px;
        margin: 0px;
        }   
footer {
        width: 1200px;
        height: 170px;
        flex-shrink: 0;
        background-color: #464547;;
        text-align: left;
        /*padding-left: 140px;*/    
        }
.smallogo {
        width: 20px;
        height: 20px;
        margin-top: 19px;
        margin-left: 145px;
     }
h2    {
    color: #FFF;
    font-family: 'Source Sans 3';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 3.6px;
    text-transform: uppercase;
    padding-left: 181px;
    margin-top: -20px;
        }
div {
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Source Sans 3';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    
    }
footer a {
    color: rgba(255, 255, 255, 0.40);
    font-family: 'Source Sans 3';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 140px;
}

.flex-container {
    display: flex;
    width: 395px;
    height: 22px;
    flex-shrink: 0;
    position: absolute;
    top: 49px;
    left: 700px;
    margin: 0px;

}
ul {
    display: inline-flex;
    color: white;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

li a{
    color: #FFF;
font-family: 'Source Sans 3';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
letter-spacing: 2.8px;
text-transform: uppercase;
text-decoration: none;
}

.grid-footer {
    display: grid;
    grid-template-columns: 362px 480px 359px;
    grid-gap: 0;
}

div span {
    width: 230px;
    height: 22px;
    position: relative;
    bottom: -78px;
    
}

.gridf2 div {
    width: 174px;
    height: 33px;
    margin-top: 22px;
}

div a {
    width: 142px;
    height: 22px;
    list-style-type: none;
    position: relative;
    bottom: -25px;
}


